.grafico-card {
  flex: 1;

  height: 500px;

  background: #111827;

  border: 1px solid #374151;

  border-radius: 18px;

  padding: 20px;

  display: flex;

  flex-direction: column;
}

.grafico-header {
  display: flex;

  justify-content: space-between;

  align-items: center;

  margin-bottom: 20px;
}

.grafico-header h2 {
  margin: 0;

  color: white;
}

.grafico-header p {
  margin-top: 6px;

  color: #9ca3af;
}

.chart-select {
  background: #1f2937;

  border: 1px solid #374151;

  color: white;

  padding: 10px;

  border-radius: 10px;
}

.grafico-container {
  position: relative;

  flex: 1;
}

.loading {
  color: white;

  height: 100%;

  display: flex;

  justify-content: center;

  align-items: center;
}